body {
    padding: 2px;
    font-family: "Courier New";
    font-size: large;
    font-weight: lighter;
}

.legend {
    position: relative;
    float: left;
    font-size: small;
    padding: 10px;
    margin-bottom: 10px;
}

.diagram {
    min-height: 300px;
    max-height: 750px;
    min-width: 300px;
    max-width: 750px;
}

.square {
    border: 1px solid black;
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
    overflow: hidden;
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    height: 50%;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid black;
    width: 50%;
    height: 50%;
}

.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-right: 1px solid black;
    width: 50%;
    height: 50%;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 0px;
    width: 50%;
    height: 50%;
}

.wall {
    position: absolute;
    z-index: 999;
}

.wall.left, .wall.right {
    height: 45px;
    width: 20%;
    top: 47%;
}

.wall.left.inner, .wall.right.inner {
    width: 40%;
    top: 45%;
}

.wall.right {
    right: 0;
}

.wall.top, .wall.bottom {
    height: 20%;
    width: 45px;
    left: 47%;
}

.wall.top.inner, .wall.bottom.inner {
    height: 40%;
    left: 45%;
}

.wall.bottom {
    bottom: 0;
}

.wall.left .circle {
    left: 20%;
}

.wall.right .circle {
    right: 20%;
}

.wall.top .circle {
    top: 20%;
}

.wall.bottom .circle {
    bottom: 20%;
}

.wall.left.inner .circle {
    left: 60%;
}

.wall.right.inner .circle {
    right: 60%;
}

.wall.top.inner .circle {
    top: 60%;
}

.wall.bottom.inner .circle {
    bottom: 60%;
}

.diagram .center {
    position: absolute;
    top: 20%;
    left: 20%;
    border: 1px solid black;
    width: 60%;
    height: 60%;
}

.small .center {
    position: absolute;
    top: 0%;
    left: 0%;
    border: 0px none;
    width: 100%;
    height: 100%;
}

.small .wall.left, .small .wall.right {
    top: 47%;
}

.small .wall.top, .small .wall.bottom {
    left: 47%;
}

.inner {
    border: 0px none !important;
}

.circle {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    position: absolute
}

.top-left .circle {
    top: 12%;
    left: 12%;
}

.top-right .circle {
    top: 12%;
    right: 12%;
}

.bottom-left .circle {
    bottom: 12%;
    left: 12%;
}

.bottom-right .circle {
    bottom: 12%;
    right: 12%;
}

.top-left.inner .circle {
    top: 25%;
    left: 25%;
}

.top-right.inner .circle {
    top: 25%;
    right: 25%;
}

.bottom-left.inner .circle {
    bottom: 25%;
    left: 25%;
}

.bottom-right.inner .circle {
    bottom: 25%;
    right: 25%;
}

.label {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
}

.m {
    z-index: 1000;
    bottom: -25px;
    right: -20px;
}

.x {
    top: 10%;
    right: -20px;
}

.x1 {
    bottom: 10%;
    right: -30px;
}

.y {
    bottom: -25px;
    left: 10%;
}

.y1 {
    bottom: -25px;
    right: 10%;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.white {
    background-color: transparent;
}

@media only screen and (max-width: 550px) {
   
    .label {
        padding: 5px;
    }

    .m {
        z-index: 1000;
        bottom: -15px;
        right: -10px;
    }

    .x {
        top: 10px;
        right: -10px;
    }

    .x1 {
        bottom: 10px;
        right: -20px;
    }

    .y {
        bottom: -15px;
        left: 10px;
    }

    .y1 {
        bottom: -15px;
        right: 10px;
    }

    .circle {
        height: 20px;
        width: 20px;
    }

    .wall.left, .wall.right {
        height: 20px;
        top: 48%;
    }

    .wall.left.inner, .wall.right.inner {
        top: 47%;
    }

    .wall.top, .wall.bottom {
        width: 20px;
        left: 48%;
    }

    .wall.top.inner, .wall.bottom.inner {
        left: 47%;
    }
}